.App {
  width: 1450px;
  height: 100vh;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 100px;
}

.sessionCards {
  margin: 100px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}